.btn {
  &.h48 {
    height: 48px;
    padding: 12px 35px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 8px;
    // color: #ffffff;

    &.corner {
      border-radius: 32px;
    }

    &.icon {
      height: 48px;
      width: 48px;
      padding: 0;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.h40 {
    height: 40px;
    padding: 8px 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 8px;
    // color: #ffffff;

    // &.corner {
    //   border-radius: 32px;
    // }

    // &.icon {
    //   height: 48px;
    //   width: 48px;
    //   padding: 0;
    //   font-size: 24px;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // }
  }

  &.btn-black {
    // @include button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%));
    @include button-variant(#2c2d2e, #2c2d2e);
    color: #ffffff;

    &.btn-icon {
      color: #fff;
    }
  }

  &.btn-gray {
    background: #65a6a4;
    color: #ffffff;

    &.btn-icon {
      color: #fff;
    }
  }

  &.btn-pink-gradient {
    background: linear-gradient(90deg, #f857a6 0%, #ff5858 100%);
    color: #ffffff;
  }

  &.btn-red {
    background: #ff7979;
    color: #ffffff;
  }

  &.btn-cian {
    background: #00b1bf;
    color: #ffffff;
  }
  &.btn-light-green {
    background: #96cfc2;
    color: #ffffff;
  }

  &.btn-light-gray {
    color: #4d5e80;
    background: #f4f4f4;
  }

  &.btn-link {
    &.gray {
      color: #4d5e80;
    }

    &.black {
      color: #1e1e1f;
    }

    &.blue {
      color: #005ff9;
    }
  }
  //
  //
  //

  &.btn-with-icon {
    display: inline-flex;
    align-items: center;

    & > [class*='icon'] {
      display: block;
      font-size: 18px;

      margin-right: 4px;
      @include breakpoint(md) {
        margin-right: 8px;
      }
    }

    &.btn-link {
      text-decoration: none !important;
    }

    &.i24 {
      & > [class*='icon'] {
        font-size: 24px;
      }
    }
  }
}
