.bAddCard {
  background: #f4f4f4;
  border: 2px dashed #d1d1eb;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);

  a {
    color: inherit;
    text-decoration: none;
  }

  &__add {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
      background: #0e0e11;
      width: 64px;
      height: 64px;
      border-radius: 12px;
      font-size: 20px;
      color: #fff;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    padding: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }

  &__body {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4d5e80;
    padding: 60px;
  }
}

.bCard {
  border: none;
  border-radius: 16px;

  a {
    text-decoration: none;
    color: inherit;
  }

  .card-body {
    padding: 0;
  }

  &__image {
    border-radius: 16px;
    margin-bottom: 32px;
  }

  &__cover {
    background-color: #f5f5f5;
    border-radius: 16px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    padding-top: 230 / 350 * 100%;
    margin-bottom: 24px;
    @include breakpoint(md) {
      padding-top: 300 / 438 * 100%;
      margin-bottom: 32px;
    }
  }

  &__title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    color: #2c2d2e;

    margin-bottom: 16px;
    font-size: 18px;
    line-height: 27px;
    @include breakpoint(md) {
      @include text-box(18, 27, 2);
      margin-bottom: 24px;
    }
  }

  &__info {
    margin-bottom: 16px;
    @include breakpoint(md) {
      margin-bottom: 24px;
    }

    .badge {
      background: #d8f5e1;
      border-radius: 3px;
      //
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      color: #73a683;
      padding: 0 8px;
    }
  }

  &__text {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    color: #4d5e80;

    @include text-box(14, 20, 3);
    margin-bottom: 24px;
    @include breakpoint(md) {
      @include text-box(16, 24, 3);
      margin-bottom: 32px;
    }

    a {
      display: block;
    }

    p {
      margin: 0;
    }
  }

  &__footer {
    align-items: center;

    .btn-link {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #4d5e80;
      padding: 0;
      border: none;
      display: inline-flex;

      [class*='icon'] {
        font-size: 24px;
        display: inline-block;
        margin-right: 8px;
      }

      &.btn-link-success {
        [class*='icon'] {
          color: #1c6454;
        }
      }
      &.btn-link-danger {
        margin-left: 24px;
        [class*='icon'] {
          color: #e74e45;
        }
      }
    }

    &__views {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;

      text-align: right;
      color: #2c2d2e;

      [class*='icon'] {
        font-size: 24px;
        display: inline-block;
      }
    }

    .media {
      align-items: center;

      img {
        border-radius: 50%;
      }
      .media-body {
        margin-left: 8px;

        h5 {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;

          color: #2c2d2e;

          margin: 0;
        }
      }
    }
  }
}
