// font-family: 'Inter', sans-serif;
// font-family: 'Manrope', sans-serif;
// font-family: 'Montserrat', sans-serif;

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.container {
  padding: 0 20px;
  @include breakpoint(md) {
    overflow-x: hidden;
    padding: 0 30px;
    max-width: 1410px + 2 * 30px;
  }
}

section {
  padding: 0 0 40px 0;

  & > h1 {
    font-style: normal;
    color: #2c2d2e;

    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 24px;
    @include breakpoint(md) {
      font-family: Inter;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      margin-bottom: 40px;
    }

    .badge {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;

      color: #65a6a4;
      padding: 0;
      margin-left: 16px;
    }
  }
}

.bNav {
  padding: 40px 0 40px;
  @include breakpoint(md) {
    padding: 52px 0 64px;
  }

  &__btn {
    color: #000000;
    text-decoration: none;
    width: 24px;
    height: 24px;
    font-size: 24px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    border: none;
    display: block;

    & > [class*='icon'] {
      display: block;
    }
  }

  .navbar-brand {
    padding: 0;

    margin: 0 23px 0 0;
    @include breakpoint(md) {
      margin: 0 4px 0 0;
    }

    img {
      max-height: 40px;
      @include breakpoint(md) {
        max-height: none;
        height: 56px;
      }
    }
  }
  .navbar-nav {
    .nav-item .nav-link {
      padding: 12px 29px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #2c2d2e;
    }
  }

  .btn-card {
    width: 32px;
    height: 32px;
    font-size: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-sm {
    padding: 4px;
    font-size: 10px;

    &.btn-link {
      text-decoration: none;
    }

    &.btn-icon {
      height: 24px;
      width: 24px;
      padding: 0;
      font-size: 24px;

      .icon-plus {
        font-size: 16px;
      }
    }
  }

  // .btn-lg {
  //   border-radius: 12px;

  //   font-weight: 500;
  //   font-size: 14px;
  //   line-height: 24px;
  //   padding: 12px 35px;

  // }

  .dropdown-menu {
    min-width: 256px;
    margin-top: 24px;

    .dropdown-item {
    }
  }

  &__avatar {
    border-radius: 12px;
    margin-right: 24px;
    overflow: hidden;
    cursor: pointer;

    width: 48px;
    height: 48px;
    background-color: #f5f5f5;
    border-radius: 16px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__actions {
    width: 48px;
    height: 48px;
  }

  .icon-lock1 {
    font-size: 24px;
  }

  &__balance {
    margin-right: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #a0acc6;
  }

  &__addBalance {
    margin-right: 40px;
  }
}

.bSidebar {
  width: 100%;
  background: white !important;

  .b-sidebar-header {
    padding: 0;
    display: block;
  }

  &__header {
    // height: 40px;
    padding: 40px 20px;

    .close {
      color: #2c2d2e !important;
      opacity: 1;
    }
  }
  .b-sidebar-body {
    padding: 0 20px 40px 20px;
  }

  &__wallet {
    background: #f4f4f4;
    color: #2c2d2e;
    border-radius: 8px;
    padding: 12px 20px;
    margin-bottom: 72px;

    &__add {
    }
  }

  &__nav {
    padding-bottom: 32px;
    &__item {
      a {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #2c2d2e;
        padding: 8px 20px;
        display: block;
      }
    }
  }

  &__footer {
    padding: 20px 20px 40px;

    &__drop {
      &.btn-group > .btn {
        padding: 0;
        border: none;
        color: inherit;
      }

      .dropdown-menu {
        min-width: 256px;
        margin-bottom: 24px;
      }
    }
  }
}
