.modal-content {
  box-shadow: 0px -2px 6px rgba(213, 226, 234, 0.3), 0px 16px 30px rgba(149, 173, 208, 0.27);

  .modal-header {
    // min-height: 130px;
    padding: 64px 32px 32px;
    position: relative;
    align-items: flex-end;
    justify-content: center;

    h5 {
      margin: 0;
      text-align: center;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      color: #2c2d2e;
    }

    .modal-close {
      padding: 0;
      color: inherit;
      font-size: 40px;
      line-height: 1;
      text-decoration: none;
      position: absolute;
      top: 24px;
      right: 24px;
      display: block;
      border: none;
    }
  }

  .modal-body {
    padding: 0 32px;

    .form-group {
      margin-bottom: 32px;

      label {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #4d5e80;
        margin: 0;
      }

      .form-control {
        border-color: transparent;
        border-bottom: 2px solid #ededed;
        height: 36px;
        padding: 6px 0;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #2c2d2e;
        margin-bottom: 8px;
      }

      .invalid-feedback {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #eb4d4b;
        margin: 0;
      }
    }

    .btn {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
    }

    .btn-block {
      font-size: 16px;
    }
  }
}

.bThanks {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  .gray {
    color: #4d5e80;
  }

  h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  &__balance {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #4d5e80;

    &__val {
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      color: #2c2d2e;
    }
  }

  &__sum {
    .btn-group {
      flex-wrap: wrap;
      justify-content: flex-start;
      display: flex;

      & > .btn {
        background: #f4f4f4;
        border-color: #f4f4f4;
        border-width: 3px;
        border-radius: 50px !important;
        font-family: Inter;
        font-style: normal;
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 24px !important;
        color: #4d5e80;
        padding: 8px 20px;
        display: block;
        // white-space: nowrap;

        flex: 0 1 auto;
        margin: 0 8px 16px 0 !important;

        &.active {
          border-color: #2c2d2e;
          background-color: #fff;
          color: #2c2d2e;
        }
      }
    }
  }

  &__details {
  }
}

.bModalInfo {
  .modal-header {
    display: block;
    img {
      margin: 0 auto 64px;
      width: 80px;
      height: 80px;
      display: block;
    }
  }
}

.bModalProfileEdit {
  .modal-body {
    .bAvatar {
      margin-bottom: 24px;
      cursor: pointer;
      color: #2997ff;

      &__image {
        width: 100%;
        height: 130px;
        padding-bottom: 24px;

        @include breakpoint(md) {
          padding-bottom: 0;
          width: 80px;
          height: 80px;
        }

        img {
          width: 130px;
          margin: 0 auto;
          display: block;

          @include breakpoint(md) {
            width: inherit;
          }
        }
      }

      &__text {
        text-align: center;
        @include breakpoint(md) {
          text-align: left;
        }
      }
    }

    .form-group {
      margin-bottom: 52px;
    }
  }
}

.bModalAuth {
  p {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
}

.bModalPostEdit {
  .modal-dialog {
    max-width: px2rem(566);
    @include breakpoint(lg) {
      max-width: px2rem(800);
    }
  }
  p {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  &__preview {
    max-width: px2rem(464);
    @include breakpoint(lg) {
      max-width: px2rem(300);
    }

    .bCard__title {
      height: auto;
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
    }

    .bCard__text {
      height: auto;

      .card-text {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: #4d5e80;
      }
    }

    .bCard__footer {
      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 24px;

    &__item {
      margin: 0 8px 8px 0;
      width: 88px;
      height: 64px;
      border-radius: 8px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border: 4px solid transparent;

      &.active {
        border-color: #426fc6;
      }
    }
  }
}

.bModalFeedback {
  .modal-content .modal-header {
    padding: 200px 32px 16px;
    text-align: center;
    display: block;

    img {
      width: 80px;
      position: absolute;
      left: 50%;
      top: 56px;
      margin-left: -40px;
    }

    @include breakpoint(md) {
      padding: 64px 32px 15px;
    }
  }

  &__left {
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;

    img {
      min-width: 128px;
      margin-bottom: 40px;
    }

    h5 {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      margin-bottom: 16px;
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__upload {
    background: #f4f4f4;
    /* Grey Text */

    border: 2px dashed #4d5e80;
    border-radius: 32px;
    text-align: center;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #4d5e80;
    padding: 10px 12px;
  }

  &__uploadNote {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #4d5e80;
  }
}
