.btn {
  &:focus {
    text-decoration: none;
    box-shadow: none;
  }
}

.dropdown-menu {
  padding: 32px 0;
  background: #ffffff;
  box-shadow: 0px -2px 6px rgba(213, 226, 234, 0.3), 0px 16px 30px rgba(149, 173, 208, 0.27);
  border-radius: 16px;
  border: none;

  .dropdown-item {
    color: #4d5e80;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 32px;
  }
}

.bPinRow {
  max-width: 280px;
  margin: 0 auto;

  & > .row {
    margin: 0 -8px * 0.5;
    & > [class*='col'] {
      padding: 0 8px * 0.5;
    }
  }

  .form-control {
    background: #f4f4f4;
    border-radius: 8px;
    border-color: transparent;
    padding: 7px;
    // min-width: 57px;
    text-align: center;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-align: center;

    color: #2c2d2e;
  }
}

.bPinError {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #eb4d4b;
}

.bAvatar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__image {
    overflow: hidden;
    flex: 0 0 auto;
    max-width: 100%;
    width: 80px;
    position: relative;
    border-radius: 15px;
    // height: 80px;
    // padding-top: 100%;
    // background: red;
    background: no-repeat center center;
    background-size: cover;

    &::after {
      display: block;
      content: '';
      padding-top: 100%;
    }
  }

  &__text {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;

    margin: 0 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  &.s48 {
    .bAvatar__image {
      width: 48px;
      border-radius: 6px;
    }

    .bAvatar__text {
      margin: 0 8px;
    }
  }

  &.s40 {
    .bAvatar__image {
      width: 40px;
      border-radius: 6px;
    }

    .bAvatar__text {
      margin: 0 16px;
    }
  }

  &.s24 {
    .bAvatar__image {
      width: 24px;
      border-radius: 4px;
    }

    .bAvatar__text {
      margin: 0 8px;
    }
  }
}

.text-red {
  color: #e74e45;
}

.text-light-gray {
  color: #a0acc6 !important;
}
