.link-tool {
  position: relative;

  &__input {
    padding-left: 38px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.2796 4.2788C14.1388 3.44897 15.2896 2.98979 16.484 3.00017C17.6785 3.01055 18.8211 3.48965 19.6657 4.33429C20.5103 5.17893 20.9894 6.32152 20.9998 7.51597C21.0102 8.71042 20.551 9.86117 19.7212 10.7204L19.709 10.7327L16.1535 14.2883C15.2992 15.1423 14.1405 15.6222 12.9326 15.6222C11.7246 15.6222 10.5661 15.1424 9.7118 14.2884C9.32122 13.8979 9.32112 13.2648 9.71159 12.8742C10.1021 12.4836 10.7352 12.4835 11.1258 12.874C11.605 13.3531 12.2549 13.6222 12.9326 13.6222C13.6102 13.6222 14.26 13.3531 14.7393 12.8741C14.7393 12.8741 14.7392 12.8741 14.7393 12.8741L18.2882 9.32518C18.7502 8.84382 19.0057 8.20075 18.9999 7.53335C18.9941 6.86329 18.7253 6.22233 18.2515 5.74851C17.7777 5.27468 17.1367 5.00592 16.4667 5.0001C15.7993 4.9943 15.1562 5.24982 14.6748 5.71184L13.7037 6.68297C13.3132 7.0735 12.68 7.0735 12.2895 6.68297C11.8989 6.29245 11.8989 5.65928 12.2895 5.26876L13.2673 4.29098L13.2796 4.2788ZM7.93402 9.62421C8.78832 8.77017 9.94683 8.2904 11.1548 8.2904C12.3628 8.2904 13.5213 8.77017 14.3756 9.62421C14.7662 10.0147 14.7663 10.6478 14.3758 11.0384C13.9853 11.429 13.3522 11.4291 12.9616 11.0386C12.4823 10.5595 11.8324 10.2904 11.1548 10.2904C10.4772 10.2904 9.82736 10.5595 9.34813 11.0385C9.3481 11.0386 9.34817 11.0385 9.34813 11.0385L5.79258 14.5941L5.78018 14.6063C5.5361 14.842 5.34141 15.124 5.20748 15.4358C5.07354 15.7476 5.00304 16.0829 5.0001 16.4222C4.99715 16.7616 5.06181 17.0981 5.1903 17.4121C5.3188 17.7262 5.50856 18.0115 5.7485 18.2515C5.98845 18.4914 6.27379 18.6812 6.58785 18.8097C6.90192 18.9382 7.23844 19.0029 7.57776 18.9999C7.91709 18.997 8.25243 18.9265 8.56422 18.7925C8.876 18.6586 9.15799 18.4639 9.39374 18.2198L9.40624 18.2071L10.3858 17.2284C10.7765 16.8381 11.4097 16.8384 11.8 17.2291C12.1904 17.6198 12.1901 18.2529 11.7994 18.6433L10.8257 19.6161C10.4068 20.048 9.90649 20.3926 9.3536 20.6301C8.7978 20.8689 8.20002 20.9946 7.59514 20.9998C6.99026 21.0051 6.39038 20.8898 5.83052 20.6608C5.27066 20.4317 4.76202 20.0934 4.33429 19.6657C3.90656 19.238 3.56829 18.7293 3.33924 18.1695C3.11018 17.6096 2.99492 17.0097 3.00017 16.4049C3.00543 15.8 3.1311 15.2022 3.36985 14.6464C3.60739 14.0934 3.95213 13.593 4.38412 13.1741L7.93402 9.62421Z' fill='currentColor'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &-holder {
      position: relative;

      // &--error {
      //   ^^& {
      //     background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.567 13.629c.728.464 1.581.65 2.41.558l-.873.873A3.722 3.722 0 1 1 4.84 9.794L6.694 7.94a3.722 3.722 0 0 1 5.256-.008L10.484 9.4a5.209 5.209 0 0 1-.017.016 1.625 1.625 0 0 0-2.29.009l-1.854 1.854a1.626 1.626 0 0 0 2.244 2.35zm2.766-7.358a3.722 3.722 0 0 0-2.41-.558l.873-.873a3.722 3.722 0 1 1 5.264 5.266l-1.854 1.854a3.722 3.722 0 0 1-5.256.008L9.416 10.5a5.2 5.2 0 0 1 .017-.016 1.625 1.625 0 0 0 2.29-.009l1.854-1.854a1.626 1.626 0 0 0-2.244-2.35z' fill='rgb(224, 147, 147)' transform='translate(-3.667 -2.7)'/%3E%3C/svg%3E%0A");
      //     background-color: #fff3f6;
      //     border-color: #f3e0e0;
      //     color: #a95a5a;
      //     box-shadow: inset 0 1px 3px 0 rgba(146, 62, 62, .05);
      //   }
      // }
    }

    &[contentEditable='true'][data-placeholder]::before {
      position: absolute;
      content: attr(data-placeholder);
      color: #707684;
      font-weight: normal;
      opacity: 0;
    }

    &[contentEditable='true'][data-placeholder]:empty {
      &::before {
        opacity: 1;
      }

      &:focus::before {
        opacity: 0;
      }
    }
  }

  &__progress {
    position: absolute;
    box-shadow: inset 0 1px 3px 0 rgba(102, 85, 107, 0.04);
    height: 100%;
    width: 0;
    background-color: #f4f5f7;
    z-index: -1;

    &--loading {
      -webkit-animation: progress 500ms ease-in;
      -webkit-animation-fill-mode: forwards;
    }

    &--loaded {
      width: 100%;
    }
  }

  &__content {
    display: block;
    padding: 25px;
    border-radius: 2px;
    box-shadow: 0 0 0 2px #fff;
    color: initial !important;
    text-decoration: none !important;

    &::after {
      content: '';
      clear: both;
      display: table;
    }

    &--rendered {
      background: #fff;
      border: 1px solid rgba(201, 201, 204, 0.48);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      will-change: filter;
      animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);

      &:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
      }
    }
  }

  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 30px;
    width: 65px;
    height: 65px;
    border-radius: 3px;
    float: right;
  }

  &__title {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0 0 10px 0;

    // + ^&__anchor {
    //   margin-top: 25px;
    // }
  }

  &__description {
    margin: 0 0 20px 0;
    font-size: 15px;
    line-height: 1.55em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__anchor {
    display: block;
    font-size: 15px;
    line-height: 1em;
    color: #888 !important;
    border: 0 !important;
    padding: 0 !important;
  }
}

@keyframes link-in {
  from {
    filter: blur(5px);
  }

  to {
    filter: none;
  }
}

.codex-editor--narrow .link-tool__image {
  display: none;
}

@-webkit-keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
