@import "./_editor";

@import "../../plugins/editorjs-list/src/index.scss";
@import "../../plugins/editorjs-image-gallery/index.scss";
@import "../../plugins/editorjs-header/src/index.scss";
@import "../../plugins/editorjs-header-h3/src/index.scss";
@import "../../plugins/editorjs-underline/src/index.scss";
@import "../../plugins/editorjs-strike/src/index.scss";
@import "../../plugins/editorjs-quote/src/index.scss";
@import "../../plugins/editorjs-youtube-embed/src/index.scss";

.gg-box {
  --gap: 1.2rem;
}

.gg-hide {
  display: none !important;
}

.gg-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gg-row:not(:first-of-type) {
  margin: var(--gap) 0 0;
}

.gg-col {
  position: relative;
  transition: all;

  &.sortable-ghost {
    // border: 2px solid red;
  }
  &.sortable-chosen {
    opacity: 0.5;
    // border: 2px solid yellow;
  }
  &.sortable-drag {
    // border: 2px solid green;
  }

  &.sortable-swap-highlight {
    padding-left: var(--gap);

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -1px;
      top: 0;
      bottom: 0;
      width: 2px;
      background-color: black;
    }
  }
}
.gg-col:not(:first-of-type) {
  margin: 0 0 0 var(--gap);
}
.gg-col img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.gg-image-overlay {
  opacity: 0;
  transition: all 0.3s ease-in;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2),
    transparent 40%,
    transparent
  );
  align-items: flex-end;
  cursor: pointer;
}
.gg-col:hover .gg-image-overlay {
  opacity: 1;
  transition: all 0.3s ease-in;
}

.gg-image-overlay-button {
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  box-shadow: none;
  line-height: inherit;
  /*  */
  background-color: hsla(0, 0%, 100%, 0.9);
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 32px;
  cursor: pointer;
}

.gg-image-overlay-button svg {
  overflow: hidden;
  width: 16px;
  height: 16px;
}
.gg-image-overlay-button svg g {
  fill: #343f44;
}
