.bPage {
  position: relative;
  .ce-block__content {
    background: #eff2f5;
  }

  &__wrapper {
    position: relative;
    max-width: 1162px;
    margin: 0 auto;
  }

  &__rightBar {
    position: absolute;
    padding-right: 38px;
    right: 0;
    top: 0;

    display: none;
    @include breakpoint(md) {
      display: block;
    }

    &__item {
      .btn {
        width: 48px !important;
        padding: 12px 4px !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__header {
    .bAvatar {
      @extend .bAvatar.s40;
      .bAvatar__text {
        p {
          font-size: 12px;
          line-height: 16px;
        }
      }

      @include breakpoint(md) {
        .bAvatar__image {
          width: 48px;
          border-radius: 6px;
        }

        .bAvatar__text {
          margin: 0 8px;

          p {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }

  &__column {
    max-width: 690px;
    margin: 0 auto;
  }

  &__profile {
    .btn {
      // border-radius: 32px;
      white-space: nowrap;
      padding: 12px 24px;

      & + .btn {
        margin-left: 20px;
      }

      &.btn-gray {
        background: #f5f5f5;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;

        color: #4d5e80;
      }
    }

    & > .row {
      margin: 0 -20px * 0.5;
      & > [class*='col'] {
        padding: 0 20px * 0.5;
      }
      @include breakpoint(md) {
        & > .row {
          margin: 0 -24px * 0.5;
          & > [class*='col'] {
            padding: 0 24px * 0.5;
          }
        }
      }
    }

    &__image {
      img {
        border-radius: 12px;
        width: 48px;
        height: 48px;
      }
    }

    &__auhor {
      h4 {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #2c2d2e;
        margin-bottom: 0;
      }

      p {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #a0acc6;
        margin-bottom: 0;
      }
    }
  }

  &__title {
    color: #2c2d2e;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    @include breakpoint(md) {
      font-size: 36px;
      line-height: 49px;
    }
  }

  &__info {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #4d5e80;
    @include breakpoint(md) {
      font-size: 14px;
      line-height: 24px;
      color: #2c2d2e;
    }
  }

  &__actions {
    .btn-icon {
      font-style: 18px;
    }

    &__right {
      // .btn {
      //   font-family: Manrope;
      //   font-style: normal;
      //   font-weight: bold;
      //   font-size: 14px;
      //   line-height: 24px;
      //   border-radius: 8px;

      //   color: #ffffff;
      // padding: 12px 22px;
      // }

      p {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  &__text {
    color: #2c2d2e;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;

      margin-bottom: 24px;
    }

    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 42px;

      margin-bottom: 16px;
    }

    h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 27px;

      margin-bottom: 32px;
    }

    .editor-js-image {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #4d5e80;

      margin-bottom: 40px;

      img {
        display: block;
        margin: 0 auto 16px;
        border-radius: 16px;
        max-width: 100%;
      }
    }

    .editor-js-gg-box {
      --gap: 1.2rem;
    }

    .editor-js-gg-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .editor-js-gg-row:not(:first-of-type) {
      margin: var(--gap) 0 0;
    }

    .editor-js-gg-col {
      position: relative;
    }
    .editor-js-gg-col:not(:first-of-type) {
      margin: 0 0 0 var(--gap);
    }
    .editor-js-gg-col img {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }
}

.bComments {
  margin: 0 auto;
  max-width: 690px;

  &__form {
    .form-control {
      border: 3px solid #2c2d2e;
      box-sizing: border-box;
      border-radius: 8px;
      height: 48px;
    }
  }

  &__all {
    background: #f4f4f4;
    border-radius: 8px;
    padding: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #1e1e1f;
    text-align: center;
  }

  &__order {
    .nav-item {
      & + .nav-item {
        margin-left: 16px;
      }

      .nav-link {
        background: #f5f5f5;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;

        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #2c2d2e;

        &.active {
          background: #fff;
          box-shadow: 0px -2px 6px rgba(213, 226, 234, 0.3), 0px 16px 30px rgba(149, 173, 208, 0.27);
        }
      }
    }
  }

  &__item {
    margin-bottom: 40px;

    padding-left: 6px;
    @include breakpoint(md) {
      padding-left: 0;
    }

    &.inside {
      padding-left: 15px;
      margin-bottom: 20px;
      @include breakpoint(md) {
        padding-left: 80px;
        margin-bottom: 20px;
      }

      .bComments__item__author {
        .bAvatar {
          @extend .bAvatar.s24;
          .bAvatar__text {
            // margin: 0 8px;
            // p {
            //   font-size: 12px;
            //   line-height: 16px;
            // }
          }

          @include breakpoint(md) {
            .bAvatar__image {
              width: 40px;
              border-radius: 6px;
            }

            .bAvatar__text {
              // margin: 0 16px;

              // p {
              //   font-size: 14px;
              //   line-height: 24px;
              // }
            }
          }
        }
      }
    }

    &__author {
      h4 {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #2c2d2e;
        margin-bottom: 0;
      }

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #a0acc6;
        margin-bottom: 0;
      }

      .bAvatar {
        @extend .bAvatar.s40;
        .bAvatar__text {
          margin: 0 8px;
          p {
            font-size: 12px;
            line-height: 16px;
          }
        }

        @include breakpoint(md) {
          .bAvatar__image {
            width: 48px;
            border-radius: 6px;
          }

          .bAvatar__text {
            margin: 0 16px;

            p {
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }
    }

    &__text {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      @include breakpoint(md) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  // &__actions {
  //   .btn {
  //     font-style: normal;
  //     font-weight: 500;
  //     font-size: 14px;
  //     line-height: 24px;
  //     color: #1e1e1f;
  //   }
  // }
}
