@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function px2rem($value) {
  @return (strip-unit($value) / 16) * 1rem;
}

@function rem2px($value) {
  @return (strip-unit($value) * 16) * 1px;
}
