@mixin text-box($font-size: 11, $line-height: 13, $line-count: 2) {
  font-size: px2rem($font-size);
  line-height: px2rem($line-height);
  height: px2rem($line-height * $line-count);
  display: -webkit-box;
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
