[v-cloak] {
  display: none;
}
@import './funxtions';
@import './mixins';

@import '~bootstrap/scss/_functions.scss';
@import './variables';

$xs-max-width: map-get($grid-breakpoints, 'sm')-1;
$sm-min-width: map-get($grid-breakpoints, 'sm');
$md-min-width: map-get($grid-breakpoints, 'md');
$lg-min-width: map-get($grid-breakpoints, 'lg');
$xl-min-width: map-get($grid-breakpoints, 'xl');

@import '~bootstrap/scss/_mixins.scss';
//
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

@import 'app';
//
// @import 'debug';
