<template>
  <div class="bPageEdit p-5" v-cloak>
    <editor ref="editor" :config="config" :initialized="onInitialized" />

    <b-btn @click="gg">Показать html</b-btn>
    <pre>{{ gg_html }}</pre>
  </div>
</template>

<script>
// import Paragraph from '@editorjs/paragraph';
// import CodeTool from '@editorjs/code';
import Embed from "@editorjs/embed"
import Table from "@editorjs/table"
// // import Warning from '@editorjs/warning';
// import RawTool from '@editorjs/raw';
import Delimiter from "@editorjs/delimiter"
import SimpleImage from "@editorjs/simple-image"

import ImageGallery from "~/plugins/editorjs-image-gallery"
import List from "~/plugins/editorjs-list/src"
import h2 from "~/plugins/editorjs-header/src"
import h3 from "~/plugins/editorjs-header-h3/src"
import Quote from "~/plugins/editorjs-quote/src"
import LinkTool from "~/plugins/editorjs-link/src"
import Underline from "~/plugins/editorjs-underline/src"
import Strike from "~/plugins/editorjs-strike/src"
import ImageTool from "~/plugins/editorjs-image/src" // https://github.com/editor-js/image
// import Marker from '~/plugins/editorjs-marker';
import YoutubeEmbed from "~/plugins/editorjs-youtube-embed/src"

// import DD from "./test"
const DD = null

const data = DD || window?.EDITOR_DATA || {}
const UPLOAD_URL = window?.EDITOR_UPLOAD_URL || "/api/files/upload"

export default {
  components: {},
  data() {
    return {
      gg_html: "",

      description: "",
      processForm: false,
      images: [],
      config: {
        data,
        tools: {
          h2: {
            class: h2,
            config: {
              placeholder: "Enter a header",
              levels: [2],
              defaultLevel: 2,
            },
          },
          h3: {
            class: h3,
            config: {
              placeholder: "Enter a header",
              levels: [3],
              defaultLevel: 3,
            },
          },
          underline: {
            class: Underline,
          },
          strike: {
            class: Strike,
          },
          list: {
            class: List,
            inlineToolbar: true,
          },
          quote: {
            class: Quote,
            inlineToolbar: true,
          },
          // paragraph: {
          //   class: Paragraph,
          //   inlineToolbar: true
          // },

          ["sh-image-gallery"]: {
            class: ImageGallery,
            config: {
              endpoints: {
                byFile: UPLOAD_URL,
              },
              field: "image[]",
              types: "image/*",
              additionalRequestData: {
                type: "post",
              },
            },
          },
          image: {
            class: ImageTool,
            config: {
              endpoints: {
                byFile: UPLOAD_URL,
              },
              field: "image[]",
              types: "image/*",
              additionalRequestData: {
                type: "post",
              },
            },
          },
          youtube: {
            class: YoutubeEmbed,
          },
          // LinkTool: {
          // class: LinkTool
          // }
        },
        onReady: () => {
          console.log("on ready")
        },
        onChange: (args) => {
          console.log("Now I know that Editor's content changed!")
        },
      },
    }
  },

  methods: {
    async gg() {
      this.gg_html = await this.getJson()
    },

    onInitialized() {
      console.log("Editor, onInitialized")
    },
    async getJson() {
      return this.$refs.editor._data.state.editor.save()
    },
    async onPublish({ cover }) {
      try {
        // const json = await this.$refs.editor._data.state.editor.save();
        // await this.$axios.$post('/api/cover', { id: cover?.id });
        this.processForm = true
        this.$emit("save", { cover_id: cover?.id, published_at: 1 })
        // window.location.href = `/posts/${id}`;
      } catch (e) {
        console.log(e)
      }
    },
  },
  mounted() {},
}
</script>
